{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="about_us_area section_gap_top" style="margin-bottom:50px">
		<div class="container">
			<div class="row about_content align-items-center">
				<div class="col-lg-6">
					<div class="section_content">
						<h6>About Us</h6>
						<h1><b>Our Motto</b>: To make all the latest news and updates related to gaming available at your fingertips.</h1>
						<p>We are group of 3 individual who have created a gaming News website. Through our website we want to make the indiviuals of gaming community come together and interact with each other. At our website you can get updated with all the recent news,ongoing and upcomming tournaments from the gaming community.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about_us_image_box justify-content-center">
						<img class="img-fluid w-100" src="{% static 'base/img/logo.jpg'%}" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock content %}